.main-container{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #6F737E;
    color: #ffff;
    letter-spacing: 2px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.container-item{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.container-item a{
    text-decoration: none;
    cursor: pointer;
    color: #ffff;
}
